@charset "UTF-8"; 
*{
    margin:0px;
    padding:0px;
}

:root{
    --cor0:#EAC47A; 
    --cor1:#376C93;
    --cor2:#FF0808;
    --cor3:#019934;
    --cor4:#BDBDBB;
    --cor5:#DFA213;
    --cor6:#ffffff;
    --cor7:#000000;
    --cor8:#50a0da;
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriracha', cursive;
}

html, body{
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--font1);
    background-color: var(--cor4);
}

header{
    background-color: var(--cor1);
    color:var(--cor6);
    text-align: center;
}
header>h1{
    padding-top:50px;
    font-family: var(--font1);
    font-variant: small-caps;
    font-size: 8vh;
}
header>p{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
a{
    margin: 0 5px;
    text-decoration: none;
    color:var(--cor6);
    font-weight:bolder;
} 

a:hover {
    text-decoration: none;
    color:#85ccff;
    background-color: var(--cor6);
    border-radius: 5px;
    padding: 5px;
}

section{
    padding-top:10vh;
    padding-bottom:10vh;
    font-family:var(--font3);
}

section>p{
    padding-bottom: 2em;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 30px;
}
section.normal{
    background-color: var(--cor6);
    color:var(--cor7);
}
 
section.imagem{
    color:var(--cor6);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418); 
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    background-color: #00180081;
}


section#img01{
    background-image: url("./imagens/background001.jpg");
    background-position: right center;
}

section#img02{
    background-image: url(./imagens/background002.jpg);
}


footer{
    color: white;
    background-color: var(--cor1);
    padding:50px 0px 50px 0px;
    text-align: center;
    font-size: 22px;
    background-image: linear-gradient(to bottom,var(--cor1),#50a0da);
}